<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Logo InsaGram" class="logo">
        <h1>Bienvenue sur InsaGram</h1>
        <a href="/register" class="btn">S'inscrire</a>
        <a href="/login" class="btn">Se connecter</a>
    </div>
</body>
</html>
