<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="centered-page">
        <div class="container">
            <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Logo InsaGram" class="logo">
            <!-- Titre -->
            <h1 style="margin-bottom: 40px; font-size: 2.2rem;">
                Bienvenue sur <span style="color: var(--bleu-2);">InsaGram</span>
            </h1>
            <a href="/register" class="btn">S'inscrire</a>
            <a href="/login" class="btn">Se connecter</a>
        </div>
    </div>
</body>
</html>
